

<div id="contact" class="col-md-10 col-md-push-2  col-sm-10 col-sm-push-2 no-pad full-h">
  <div class="absolute-center">
    <div class="header animated fadeInUp">
      <h1>Contacts</h1>
      <ul class="ul-menu menu-block upCase lightFont no-link animated fadeInUp">
        <li><a href="mailto:nikolay.lebedev@gmail.com"> nikolay.lebedev@gmail.com </a></li>
        <!--<li><b>Skype:</b> <a href="skype:nikzz83">  nikzz83 </a></li>-->
        <li><a href="tel:+372 58143514"> +372 58143514 </a></li>
      </ul>
    </div>
  </div>
</div>
