
    <div class="col-md-5 col-md-push-2 col-sm-5 col-sm-push-2" id="graphic-design">
      <div class="absolute-center">
        <div class="header animated fadeInUp">
          <h1>Graphic design</h1>
        </div>
        <ul class="ul-menu inline-menu upCase lightFont no-link animated fadeInUp">
          <li><a href="">Print</a></li>
          <li><a href="">Web</a></li>
          <li><a href="">UI/UX</a></li>
        </ul>
        <a class="btn upCase push-t-20" href="#/contact" ng-class="getClass('/contact')">Interested?</a>
      </div>
    </div>
    <div class="col-md-5 col-md-push-2  col-sm-5 col-sm-push-2"  id="web-dev">
      <div class="absolute-center">
        <div class="header animated fadeInUp">
          <h1>Front-end</h1>
        </div>
        <ul class="ul-menu inline-menu upCase lightFont no-link animated fadeInUp">
          <li><a href="">CSS3/HTML5</a></li>
          <li><a href="">Angular.js</a></li>
          <li><a href="">SASS</a></li>
          <li><a href="">bower/grunt</a></li>
          <li><a href="">JS/Jquery</a></li>
          <li><a href="">Wordpress</a></li>
          <li><a href="">Ruby on rails</a></li>
        </ul>
        <a class="btn upCase push-t-20" href="#/contact" ng-class="getClass('/contact')">Interested?</a>
      </div>
    </div>